* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  margin: 10px;
}

nav a {
  text-decoration: none;
  font-size: 20px;
  color: blue;
  margin: 0 50px 0 0;
  font-weight: 500;
}

nav a:visited {
  text-decoration: underline;
}

nav a:hover {
  color: rgb(69, 69, 216);
}

table {
  width: 30%;
  border-collapse: collapse;
  margin: 0 0 30px 10px;
}

tr, td {
  border: 1px solid black;
  padding: 3px;
}

.line-one {
  text-align: left;
}

.line-two {
  text-align: center;
}

.line-three {
  text-align: end;
}
